@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.v-cover{
    background-image: url("../images/profpic.png");
    background-position: fixed;
    height: 100vh;
}

.profile-img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:900px) {
    .profile-img{
        width: 50%;
        height: 50%;
    }
}

.proj{
    min-width: 40%;
    padding: 0px 10px;
}

.card-title{
    font-weight: bolder;
} 
.card-text{
    font-weight: bold;
}