body{
	background-color:whitesmoke;
}
#toolbox{
	padding:10px;
	position:fixed;
	background-color:whitesmoke;
}
.board{
	padding:100px;
	text-align:center;	
}
.board canvas,#toolbox{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transiton:all;
}
.board canvas:hover{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#toolbox button,#toolbox input,#toolbox select{
	border:none;
	outline:none;
	cursor:pointer;
	background-color:inherit;
	margin:5px;
}
